<html>
<head>
	<title>My fancy Penis</title>
	<link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="css/pygments.css" type="text/css" charset="utf-8">
</head>
<body>

<%= yield %>


</body>
</html>
